keys.txt

datasets/MSCOCO
datasets/VG
datasets/VisDial

__pycache__

uploads

Entities/schemas/*
Entities/schemas
Entities/entities.py
RetrievalSystemTraffic.sql

datasets/imageDemo

*.key

.vscode
problem_report.txt
hit_at_k_blip2_results_100_t5.jsonl
hit_at_k_blip2_results.json
