POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5432
POSTGRES_DB=RetrievalSystemTraffic
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me

HF_TOKEN=change_me
HF_LOCAL_FILES_ONLY=0
LOCAL_LLM_DEVICE=cuda
LOCAL_LLM_DTYPE=bfloat16

RAIR_GPU_DEVICE=all
RAIR_DATASETS_PATH=/absolute/path/to/RAGInteractIR/datasets
RAIR_HF_CACHE_PATH=/absolute/path/to/hf-cache
RAIR_TORCH_CACHE_PATH=/absolute/path/to/torch-cache

RAIR_LOG_LEVEL=INFO
